@media screen and (max-width: 768px) {
    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    }
    h6 {
        margin: 0;
    }
    .mobilexxx {
        display: block;
    }
    div.alert{
        display: none;
    }
    /* SEPERATOR */
    .top_padding p{
        line-height: 28.5px;
        margin: 0;
    }
    /* NAVBAR */
    .nav-item .fa{
        padding-right: 8px;
    }
    h2 .btn{
        padding-left: 0;
    }
    a.nav-link {
        font-size: 18px;
    }
    /* TITLE SETTING */
    .title {
        text-align: center;
        -moz-text-align: center; /* For Firefox prior 58.0 */
        font-size: 14px;
        padding: 8px 20px 20px 20px;
        text-decoration: none;
    }
    .title h1{
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
        font-size: 36px;
        margin: 0;
        color: #4F4F4F;
    }
    .title p{
        font-family:'Grandstander', cursive;
        margin: 0;
        color: #4F4F4F;
    }
    /* TOP CHOICES */
    .topchc_gall {
        display: block;
        margin: 0px 16px 0px 16px;
    }
    .topchc_gall nav{
        margin-top: 16px;
    }
    .top_product {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .top_product button{
        text-transform: none;
    }
    .top_product button .fa{
        padding-right: 8px;
    }
    .section {
        position: relative;
        margin: 0 8px 16px 8px;
    }
    .section_desc {
        position: relative;
        width: 100%;
        bottom: 0;
    }
    .section_desc p{
        position: absolute;
        text-align: center;
        color: white;
        padding: 8px;
        margin: 0;
        bottom: 0;
    }
    .desc_text {
        top: 0px;
        color: white;
    }
    .top_product {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .section img{
        width: 100%;
        max-height: auto;
    }

    /* PRODUCT */
    .product_content {
        display: flex;
        flex-basis: 25%;
    }
    .side_link {
        margin: 0px 4px 4px 0px;
    }
    .side_link img{
        border-radius: 0 8px 8px 0;
    }
    .product_content:nth-of-type(2) {
        flex-basis: 75%;
    }
    .content_main {
        /* background-color: green; */
        display: block;
        height: 520px;
        overflow: scroll;
        width: 100%;
        margin: 0px 16px 16px 0px;
    }
    .content_main_flow {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    /* IKLAN */
    .ads {
        background-color: red;
        margin-right: 4px;
    }

    /* ARTICLE */
    .article_section {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0 16px 16px 16px;
    }
    .article_section img{
        border-radius: 16px;
        width: 100%;
    }
    .article_desc {
        text-align: justify;
        margin-top: 8px;
    }
    .desc_author {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        margin-top: 32px;
    }

    /* WHY CHOOSE US? */
    .benefit {
        display: flex;
    }
    .benefit_icon {
        flex: 10%;
    }
    .benefit_text {
        flex: 90%;
    }
}