h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.detail_all {
    margin: 16px;
}
.detail_name p{
    font-family: 'Playfair Display', serif;
}
.detail_name {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.detail_desc {
    text-align: justify;
}
.detail_tag {
    margin-top: 4px;
}
.detail_tag p{
    display: inline-block;
    border-style: solid;
    border-radius: 20px;
    font-size: 8px;
    padding: 4px 16px;
    margin: 0px 4px;
}
.detail_tag p:first-child{
    margin-left: 0;
}
.buy_cta {
    margin-top: 64px;
}
.buy_cta button{
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    color: rgb(37, 37, 37);
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    color: WHITE;
}
.recommend {
    margin: 8px 16px;
    margin-top: 32px;
}
.recommend_pic {

}
.overflow_pic {
    display: flex;
    overflow-x: scroll;
}
.pic_recommend {
    margin: 8px;
}
.pic_recommend:first-child{
    margin-left: 0;
}
.pic_recommend:last-child{
    margin-right: 0;
}